<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>screen5</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.css">
<link type="text/css" rel="stylesheet" href="css/main.css">
<link type="text/css" rel="stylesheet" href="css/data-tables-custom.css">
<link type="text/css" rel="stylesheet" href="css/jquery-ui-1.10.4.custom.css">
<link type="text/css" rel="stylesheet/less" href="less/datepicker.less">
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico"/>

<script type="text/javascript" src="js/jquery-1.11.0.js"></script>
<script type="text/javascript" src="js/bootstrap.js"></script>
<script type="text/javascript" src="js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/jquery.dataTables.js"></script>
<script type="text/javascript" src="js/validations.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.10.4.custom.js"></script>
</head>

<body>
<!--container starts-->
<div class="container"> 
  <!--header starts-->
  <header> 
    <!--row starts-->
    <div class="row">
      <div class="col-lg-12">
        <ul class="top-icons pull-right">
          <li id="decreaseFS"><a href="#" title="decrease font size"><img src="images/decrease_font.png" alt="" class="img-responsive"></a></li>
          <li id="increaseFS"><a href="#" title="increase font size"><img src="images/increase_font.png" class="img-responsive" alt=""></a></li>
          <li><a href="#" title="twitter"><img src="images/twitter.png" alt="" class="img-responsive"></a></li>
          <li><a href="#" title="google plus"><img src="images/gplus.png" alt="" class="img-responsive"></a></li>
          <li><a href="#" title="facebook"><img src="images/fb.png" alt="" class="img-responsive"></a></li>
          <li><a href="#" title="rss feed"><img src="images/img3.png" alt="" class="img-responsive"></a></li>
          <li><a href="#" title="sitemap"><img src="images/msg2.png" alt="" class="img-responsive"></a></li>
          <li><a href="#" title="message"><img src="images/msg.png" alt="" class="img-responsive"></a></li>
          <li>
            <form>
              <input type="text" class="text" placeholder="search">
            </form>
          </li>
          <li><img src="images/srch.png" title="search" alt="" class="img-responsive"></li>
        </ul>
      </div>
    </div>
    <!--row ends--> 
    
    <!--row2 starts-->
    <div class="row">
      <div class="col-lg-2 logo"> <img src="images/logo.png" alt="" class="img-responsive"> </div>
      <div class="col-lg-8 sultan_of">
        <div class="oman-title">
          <h1 class="logo_ttl">Sultanate of Oman</h1>
          <h3 class="sub_ttl">Royal Oman Police</h3>
        </div>
        <div class="">
          <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid"> 
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
              </div>
              
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="#"><img src="images/home.png" alt=""></a></li>
                  <li class="active"><a href="#">About ROP</a></li>
                  <li><a href="#">Services</a></li>
                  <li><a href="#">Information</a></li>
                  <li><a href="#">Multimedia</a></li>
                  <li><a href="#">Career</a></li>
                  <li><a href="#">Contact us</a></li>
                  <li><a href="#">Other ROP Sites</a></li>
                </ul>
              </div>
              <!-- /.navbar-collapse --> 
            </div>
            <!-- /.container-fluid --> 
          </nav>
        </div>
      </div>
      <div class="col-lg-2 hd-title">
        <h1>eVisa</h1>
        <a href="#"><span>Arabic</span> </a> </div>
    </div>
    
    <!--row2 ends--> 
    
  </header>
  <!--header ends--> 
  <!--content starts-->
  <div class="row">
    <div class="col-lg-12 user-data">
      <div class="pull-right">
        <p><span>User:</span><span><b>suri</b></span></p>
        <p><span>Date:</span> <span><b>18-02-2014</b></span></p>
        <p class="log-out"><a href="http://www.google.com" class=""><span></span></a></p>
      </div>
    </div>
    <section>
    
    <div class="row col-lg-12 blue-ray">
          <div class="nav-bc flat">
		<a href="#" class="brcrumb-visited">Transfer Visa(New Passport)</a> 
		       <a href="#" class="nactive">Passport Details</a>
			 <a href="#">Additional Details</a>
			  <a href="#">Attachments</a>
			  <a href="#">Confirm Applicant Details</a>
			<a href="#">Submission Summary</a>

        
	</div>

        </div>
      
      <div class="row col-lg-12">
      
      <div class="col-lg-6">
      
     
      <p class="visa-type-sposor">Visa Type: 1A Employement Visa</p>
      
      </div>
      
      <div class="col-lg-6">
      <p class="visa-type-sposor-right">Sponsor: ITON CORP</p>
      
      </div>
      
       <div class="row col-lg-12">
      

      
     
      <p class="new-passport-dtl">New Passport Details:</p>
      

      

      
      
      </div>
       <form class="row form-horizontal" role="form" >
      
      <div class="row search-fields-alt">
     
           <div class="row search-fields-form search-fields-form-two">
                <div class="col-lg-6">
                
                <div class="form-group">
                <label  class="col-sm-5 control-label">Travel Document Number</label>
                <div class="col-sm-7">
                <input type="text" class="form-control alphaNum" id="tdn" maxlength="20">
                </div>
                </div>
                
                <div class="form-group">
                <label  class="col-sm-5 control-label">Travel Document Type</label>
                <div class="col-sm-7">
                <input type="text" class="form-control" value="Passport" disabled>
                </div>
                </div>
                
                <div class="form-group">
                <label  class="col-sm-5 control-label">Issuing State</label>
                <div class="col-sm-7">
                <select class="form-control" >
                <option>Please select</option>
                <option >ap</option>
                </select>
                </div>
                </div>
                
                <div class="form-group">
                <label class="col-sm-5 control-label">Place of Issue</label>
                <div class="col-sm-7">
                <input type="text" class="form-control alphaOnly" maxlength="20" id="place_of_issue">
                </div>
                </div>
                
               </div>
                
                
                <div class="col-lg-6">
                
                 <div class="form-group">
                <label  class="col-sm-5 control-label">Nationality</label>
                <div class="col-sm-7">
                <input type="text" class="form-control" value="India" disabled>
                </div>
                </div>
                
                 <div class="form-group">
                <label  class="col-sm-5 control-label">Issue Date</label>
                <div class="col-sm-7">
                <input type="text" class="form-control datepicker" id="issue_date">
                </div>
                </div>
                
                
                 <div class="form-group">
                <label  class="col-sm-5 control-label">Expiry Date</label>
                <div class="col-sm-7">
                <input type="text" class="form-control datepicker" id="exp_date">
                </div>
                </div>
                
                
                
                <div class="form-group">
                <label  class="col-sm-5 control-label">Full Name</label>
                <div class="col-sm-7">
                <input type="text" class="form-control alphaOnly" maxlength="243">
                </div>
                </div>
                
                
                
                </div>
                
                
                
           
            </div>
      
      
     
      
      
    
      
      
      </div>
      
      
      
      <div class="row col-lg-12">
      
     
      <p class="new-passport-dtl">Person Details:</p>
      
      </div>
      
      <div class="row search-fields-alt">
     
            <div class="row search-fields-form search-fields-form-two" role="form" >
                <div class="col-lg-6">
                
                <div class="form-group">
                <label  class="col-sm-5 control-label">Family Name</label>
                <div class="col-sm-7">
                <input type="text" class="form-control alphaOnly" id="tdn" maxlength="40">
                </div>
                </div>
                
                <div class="form-group">
                <label  class="col-sm-5 control-label">Gender</label>
                <div class="col-sm-7">
                <select class="form-control" >
                <option>Please select</option>
                <option >Male</option>
                <option >Female</option>
               
                </select>
                </div>
                </div>
                
                <div class="form-group">
                <label  class="col-sm-5 control-label">Country of Birth</label>
                <div class="col-sm-7">
                <select class="form-control" >
                <option>Please select</option>
                <option >India</option>
                </select>
                </div>
                </div>
                
                
                </div>
                
                
                <div class="col-lg-6">
                
                <div class="form-group">
                <label  class="col-sm-5 control-label">Given Names</label>
                <div class="col-sm-7">
                <input type="text" class="form-control alphaOnly" maxlength="80">
                </div>
                </div>
                
                <div class="form-group">
                <label class="col-sm-5 control-label">Date of Birth</label>
                <div class="col-sm-7">
                <input type="text" class="form-control datepicker" id="dob2">
                </div>
                </div>
                
                <div class="form-group">
                <label  class="col-sm-5 control-label">Place of Birth</label>
                <div class="col-sm-7">
                <input type="text" class="form-control alphaOnly" maxlength="40">
                </div>
                </div>
                
                
                </div>
                
                
                </div>
                
                
               
      
      
      </div>
       
                <div class="row ">
                
                    <div class="buttons center-buttons">
                    <button type="button" class="btn btn-default">Back</button>
                    <button type="reset" class="btn btn-default">Clear</button>
                    <button type="button" class="btn btn-default disabled">Next</button>
                    
                    </div>
                    
                </div>
        </form>
           </div> 
      
      
    </section>
  </div>
  <!--content ends--> 
  <!--footer starts-->
  <footer>
    <div class="row">
      <div class="col-lg-7 footer-menu">
        <ul>
          <li><a href="copyright.html">Copyright </a></li>
          <li><a href="privacy_policy.html">Privacy Policy</a></li>
          <li><a href="disclaimer.html">Disclaimer </a></li>
          <li><a href="contact_us.html">Contact us</a></li>
          <li><a href="sitemap.html">Sitemap </a></li>
        </ul>
      </div>
      <div class="col-lg-5 footer-right">
        <div class="footer_imgs"><img src="images/gcc.jpg" alt="" class="img-responsive"> <img src="images/eoman.jpg" alt="" class="img-responsive"></div>
      </div>
    </div>
  </footer>
  <!--footer ends--> 
</div>
<!--container ends-->
</body>
</html>
